/* RESPONSIVIDADE */
@media (min-width: 2560px) {
    .hh3 {
      font-size: 44px;
    }

    .menu-cadastro {
      width: 49vh;
    }

    .menu-cadastro input {
      padding: 13px;
      margin-top: 14px;
      width: 30rem;
  }

 .button-cadastro button {
    width: 22rem;
    font-size: 1.8rem;
    margin-top: 1rem;
  }

  .menu-home a {
    font-size: 2.5rem;
  }


}

@media (max-width: 1473px) {
  .menu-cadastro {
    width: 54vh;
  }

  .menu-login {
    width: 60vh;
  }

  .menu-login input, .form-login, .login-user {
    width: 55vh;
}


}

@media (max-width: 1440px) {
.menu-cadastro {
    width: 67vh;
    height: 55vh;
  }

.hh3 {
  font-size: 2.4rem;
  margin-top: 0.1rem;
}

.menu-cadastro input {
  width: 21rem;
  height: 2.2rem;
  margin-top: 9px;

}

 .button-cadastro button {
  width: 21rem;
  font-size: 1.4rem;
}


}

@media (max-width: 1410px) {
  .button-cadastro button {
    width: 15rem;
    font-size: 1rem;
}

}

@media (max-width: 1326px) {

}

@media (max-width: 1435px) {
  .menu-cadastro {
      height: 47vh;
  }

  }

/* @media (max-width: px) {
/* @media (max-width: px) {
/* @media (max-width: px) {
/* @media (max-width: px) {*/

@media (max-width: 1240px) {
  .menu-cadastro input {
    width: 21rem;
} 

.menu-cadastro {
  width: 72vh;
}

 .login-user {
  width: 58vh;
}

 hh3 {
  font-size: 40px;
}

}

@media (max-width: 1024px) {
  .menu-cadastro {
    width: 66vh;
  }

  .menu-cadastro input {
    width: 21rem;
}

.button-cadastro button {
  width: 15rem;
  font-size: 1rem;
}


  
}

@media (max-width: 1000px) {
   .menu-cadastro {
    width: 73vh;
   }
}

@media (max-width: 900px) {
  .menu-ranking {
    width: 60%;
    margin-left: 20%;
  }
}

@media (max-width: 800px) {
  .sec-login {
    background-image: url(imagens/fundo-principal-sm.webp);
    width: 100%;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    margin: 1px;
  }

  .menu-login input, .form-login, .login-user {
    margin-top: 7px;
  }

  .menu-login {
    width: 59vh;
    height: 43vh;
}

  .menu-home a,
  hh3 {
    font-size: 43px;
  }

  .menu-home {
    width: 100%;
    height: 4rem;
  }

}

@media (max-width: 768px) {
  .menu-cadastro {
    width: 67vh;
}
    
}

@media (max-width: 700px) {
  .menu-home {
    width: 100%;
    height: 72px;
  }





}

@media (max-width: 600px) {
  .menu-home a {
    font-size: 34px;
}
}

@media (max-width: 588px) {
  footer {
    height: auto;
    font-size: 0.8rem;
    width: auto;
  }

  .menu-home a {
    font-size: 27px;
}

}

@media (max-width: 510px) {
  .sec-login {
    height: 84vh;
  }

  .menu-home ul {
    gap: 0px;
  }

  .menu-home {
    display: flex;
    align-items: center;
  }

  .menu-home ul {
    margin-left: auto;
  }

  .menu-home ul li {
    list-style: none;
    margin-left: 20px;
  }

  .menu-home a {
    font-size: 25px;
    width: auto;
  }

  .logo-header {
    width: 80%;
    height: auto;
  }

}

@media (max-width: 500px) {
  .menu-ranking h2 {
    font-size: 35px;
  }

  .menu-ranking hh3 {
    font-size: 40px;
  }

  .menu-home a {
    font-size: 22px;
}

  .menu-home {
    height: 55px;
}

.sec-login {
  height: 94vh;
}

.p-3 {
  font-size: 1rem;
}

}

@media (max-width: 400px) {
  .menu-login {
    width: 35vh;
    height: 30vh;
}

.menu-login input, .form-login {
  width: 47vh;
}

.menu-home ul {
  margin: 0px;
}

.menu-home a {
  font-size: 25px;
  width: 11rem;
}

.logo-header {
  width: 66%;
}

.menu-home ul li {
  margin-left: 14px;
}

.menu-login {
  width: 51vh;
  height: 43vh;
}




}

@media (max-width: 380px) {
  .menu-ranking {
    width: 80%;
    margin-left: 10%;
  }

  .sec-login {
    height: 79vh;
  }



}

@media (max-width: 320px) {
  .menu-cadastro {
    width: 48vh;
}

.menu-cadastro input {
  width: 13rem;
}

.button-cadastro button {
  width: 10rem;
}
    
}

@media (max-width: 300px) {
  .menu-cadastro {
    width: 45vh;
}

.menu-cadastro input {
  width: 14rem;
}
.logo-header {
  width: 114%;
}

.menu-home a {
  font-size: 21px;
}
    
}



/* 
  
  2a57bdc

  
  */

/* @media (max-width: 900px) {
    
  } */