@import url("https://fonts.cdnfonts.com/css/arcade-classic"); 

/*GERAL*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
} 

table {
}

/* HEADER */

.menu-home {
  background-color: black;
  width: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
}

.menu-home a, h3 {
    color: #FFC214; 
    text-decoration: none;  
    font-family: 'WeissRundgotischW01';
    font-size: 25px; 
} 

.menu-home ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin: 20px;
  list-style: none;
}

/* HOME */

.card-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ind {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(imagens/fundo-principal.webp);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo-home{
  width: 100%;
  height: 86vh;
}

.home {
  color: #FFC214;
  position: absolute;
  width: 640px;
  height: 331px;
  border: 1px;
  border-radius: 58px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


button.btn.btn-dark {
  border: none;
}

.icones-home { 
  display: flex; 
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  gap: 5px;
}  

.logo-lo {
  width: 13rem;
}

.imag {
  width: 10rem;
  transition: transform 0.3s, box-shadow 0.3s;
            border-radius: 50%;
}

.imag:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 20px rgba(213, 203, 14, 0) 
}

/* FUNDOS */
.fundo-player {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(imagens/fundo-player.webp);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}   


.sec-login {
  background-image: url('imagens/fundo-principal.webp');
  background-size: cover;
  background-position: center; 
  height: 88vh;
  text-align: center; 
  /* padding: 20px;  */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PESQUISA */

#divBusca { 
  background-color:rgba(6, 6, 6, 0.703);
  width: 400px;
  height: 80px; 
  border: 1px;
  border-radius: 60px;
}

.tabela-pesquisa { 
  margin-top: 20px; 
}

.menu-pesquisa {
  position: absolute;
  display: flex;
  align-items: center;  
 flex-direction: column;
 bottom: 200px;
  left: 520px;
}

.menu-pesquisa input {
padding: 5px; 
border-radius: 30px;
width: 18rem;
}

.menu-pesquisa img {
width: 2.5rem; 
}

.table {
width: 18rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #ffc214;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}

.offcanvas {
  background-repeat:  no-repeat;
  background-size: cover; 
  background-position: center;
  height: 100%;
}