@import url("https://fonts.cdnfonts.com/css/arcade-classic");

/*GERAL*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* HEADER */

.menu-home {
  background-color: black;
  width: auto;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-between;
}

.menu-home a, h3 {
    color: #FFC214; 
    text-decoration: none;  
    font-family: 'WeissRundgotischW01';
    font-size: 25px; 
} 

.menu-home ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin: 20px;
  list-style: none;
}

/* HOME */

.fundo-home {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-image: url(imagens/fundo-principal.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.fundo-home{
  width: 100%;
  height: 86vh;
}

.home { 
  color:#FFC214;   
  position: absolute;
  bottom: 130px;
  left: 0; 
  margin-left: 25%;
  width: 640px;
  height: 330px;
  border: 1px;
  border-radius: 60px;
  display: flex;
  align-items: center;  
 flex-direction: column;
} 

button.btn.btn-dark {
  border: none;
}

.icones-home { 
  display: flex; 
  flex-direction: row;
  align-items: center;  
  justify-content: center;
  gap: 5px;
}  

.icones-home button img{ 
  width: 150px;
  height: 150px;
}
/* LOGIN */

.sec-login {
  background-image: url('imagens/fundo-principal.webp');
  background-size: cover;
  background-position: center; 
  height: 88vh;
  text-align: center; 
  /* padding: 20px;  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-login, .menu-cadastro {
  width: 38vh;
  border: 1px;
  border-radius: 10%;
}

.card-login {
  display: grid;
    place-items: center;

}

.img-login {
  width: 100%;
  height: 86vh;
}

.menu-login input, .form-login, .login-user {
  border-radius: 60px;
  padding: 10px;
  margin-top: 15px;
  width: 36vh;
}

.button-login button, .button-cadastro button { 
  color: #FFC214; 
  border-color: white;
  display: flex; 
  justify-content: center;
  align-items: center;   
  margin-top: 5px; 
  padding: 5px;
  width: 77px;
  font-family: 'WeissRundgotischW01';
  margin-left: auto;
  margin-right: auto;
}

/* CADASTRO */

.menu-cadastro input {
  border-radius: 60px;
  padding: 10px;
  margin-top: 13px;
  width: 19rem;
}

.button-cadastro button { 
   margin-bottom: 10px;
}

/* PLAYER */
.fundo-player {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-image: url(imagens/fundo-player.webp);
  background-repeat: no-repeat;
  background-position: center;
}   

.fundo-player {
  width: 100%;
  height: 86vh;
}

.menu-player {
  color:#FFC214;   
  position: absolute;
  bottom: 90px;
  left: 0; 
  margin-left: 30%;
  width: 500px;
  height: 390px;
  border: 1px;
  border-radius: 60px;
  display: flex;
  align-items: center;  
 flex-direction: column;
}

.body-content {
  margin-bottom: 1000px;
}

.configuracao img {
  width: 40px;
  height: 30px;
} 

.estrela {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flecha {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.configuracao {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-player h2 {
    color: #F7831A; 
    font-size: 20px;
    font-family: 'WeissRundgotischW01';
} 

.menu-player p {
    color:#FFC214 ; 
    font-size: 15px;
    font-family: sans-serif;
}
/* CONFIGURAÇÃO */

.menu-configuracao {
  width: 300px;
  height: 280px;
  border: 1px;
  border-radius: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-left: 580px;
  margin-top: 50px;
  position: absolute;
  top: 250px;
  left: 0;
}

.menu-configuracao input {
  border-radius: 60px;
  padding: 10px;
  margin-top: 15px;
}

.espada-conf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flecha-conf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cadeado-conf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-configuracao button {
    color: #FFC214; 
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    margin-top: 30px;
    padding: 5px;
    font-family: 'WeissRundgotischW01';
}

/* RANKING */

.menu-pesquisa {
  position: absolute;
  bottom: 170px;
  left: 0; 
  margin-left: 35%; 
  background-color:rgba(6, 6, 6, 0.703);
  width: 400px;
  height: 200px;
  border: 1px;
  border-radius: 60px;
  display: flex;
  align-items: center;  
 flex-direction: column;
}
.menu-pesquisa input {
padding: 5px; 
border-radius: 30px;
}

.menu-pesquisa img {
width: 30px; 
height: 30px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: #ffc214;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

